{% extends '_layout.njk' %}

{% block pageTitle %}Sorry, there is a problem - {{ serviceName }}{% endblock %}

{% block content %}
  <h1 class="title is-3">Sorry, there is a problem with the service</h1>
  <p class="content">Try again later.</p>
{% endblock %}
