{% extends '_layout.njk' %}

{% block pageTitle %}Sign in - {{ serviceName }}{% endblock %}

{% block content %}
  <div class="columns">
    <div class="column is-three-fifths">
      <h1 class="title is-2">Your land, mapped</h1>
      <p class="subtitle is-5">{{ serviceTagline }}.</p>

      <div class="content">
        <p>
          Sign in with your Defra account to link {{ serviceName }} to your Rural Payments
          business. We use Defra Identity so you never share your Rural Payments password
          with us.
        </p>
        <p>
          If you have more than one business registered to your Rural Payments account,
          you will be asked to choose which one you are working on.
        </p>
      </div>

      <a class="button is-primary is-large" href="/auth/sign-in">Sign in with Defra account</a>

      <h2 class="title is-4 mt-6">Before you start</h2>
      <div class="content">
        <p>
          You will need your Rural Payments service customer reference number (CRN) and
          password. Signing in takes around 5 minutes.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
